<h2><%= @list.name %></h2>

<% @bookmarks.each do |bookmark| %>
  </p><%= bookmark.movie.title%></p>
  </p><%= bookmark.comment%></p>
<% end %>


<%= link_to "Delete",
  list_path(@list),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>

<h3>Add a movie</h3>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie, collection: @movies %>
  <%= f.input :comment %>
  <%= f.submit %>
<% end %>
